.input{
    padding: 15px 30px;
    margin-left: 70px;
    width: 284px;
    border: 0;
    background-color: white;
    border-radius: 15px;
    color: black;
    border-bottom: 2px solid
    
    
}

.input::placeholder {
    color: #272728; /* Cor do texto do placeholder */
    font-size: 14px; /* Tamanho da fonte do placeholder */
  }