.buttondark{
    padding: 15px 30px;
    margin-left: 95px;
    margin-top: 50px;
    border: 0;
    background-color: rgb(47, 46, 46);

    color: #fff;
    font-size: 16px;
    font-weight: bold;

    border-radius: 30px;
    cursor: pointer;
    width: 236px;
    height: 43px;



}

.buttonlight{
    padding: 15px 30px;
    margin-left: 95px;
    border: 0;
    background-color: #D9D9D9;
    align-items: center;

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    

    border-radius: 30px;
    cursor: pointer;
    width: 236px;
    height: 43px;
    display: flex;
    justify-content: center;



}