/* page2.module.css */

.page2Container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .page2Heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .page2Label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .page2Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .page2CheckboxLabel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .page2Checkbox {
    margin-right: 10px;
  }
  

  .goBackButton {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .goBackButton:hover {
    background-color: #0056b3;
  }